* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Consolas', 'Monaco', monospace;
    line-height: 1.6;
}

header,
nav,
main,
footer {
    padding: 20px;
    color: black;
}

li {
    list-style: none;
    color: black;
}

header {
    background: #000000;
    text-align: center;
    color: #fff;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    background-color: #960000;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding-right: 0px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #000;
}

main {
    padding-top: 20px;
}

main h2 {
    margin-bottom: 15px;
    color: #ffffff;
}

main p,
main li {
    font-size: 16px;
    margin-bottom: 10px;
}

.endpoint-examples,
.results-ide {
    background: #545454;
    border-left: 8px solid #960000;
    padding: 20px;
    margin: 20px 0;
}

.ide-container {
    background: #545454;
    color: #5c5c5c;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    display: block;
    padding: 5px 0;
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #960000;
}

footer p {
    color: #000;
}