* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Text styling */
h2,
h3 {
    color: #FF1801;
}

p {
    color: white;
}

html {
    background-color: #4b5563;
}

body {
    font-family: 'Roboto', 'Monaco', mono;
    line-height: 1.6;

}

header {
    background: #000000;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    padding-right: 0px;
    display: inline-block;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #FF1801;
    color: black;
}

main {
    display: grid;
    margin: 100px;
}


main p,
main li {
    font-size: 16px;
    margin-bottom: 10px;
}


aside {
    margin-bottom: 50px;
}

hr {
    border: 1px solid #FF1801;
    margin-top: 50px;
    margin-bottom: 50px;
}

code {
    margin-bottom: 50px;
}

pre {
    margin-top: 50px;
}

#text-container {
    width: 30%;
    margin: auto;
}

#text-container h2 {
    margin-bottom: 20px;

}

#introduction {
    text-align: center;
    margin-bottom: 50px;
}

.endpoint-examples,
.results-ide {
    background: #545454;
    border-left: 8px solid #FF1801;
    padding: 20px;
    margin: 10px 0;
}

.ide-container {
    background: #545454;
    color: #5c5c5c;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    display: block;
    padding: 5px 0;
    color: #ffffff;
}

footer {
    display: flex;
    text-align: center;
    padding: 10px;
    background-color: #FF1801;
    margin-top: 50px;
    width: 100%;
    bottom: 0;
    border-top: 2px solid #000;
}

footer p {
    color: #000;
    margin: auto;
}

footer a {
    color: #000;
    margin-right: 100px;
    text-decoration: none;
}